<%- include ("../partials/header") %>

<!--
  Page that displays all the authors in the library and how many books they
  have written.

  Ideally we would have a button to allow the user to view all the books by that
  author.
-->


<div class="myContainer center">
  authors
</div>

<%- include ("../partials/footer") %>
