<%- include ("../partials/header") %>

      <div class="myContainer center element-col">
        <!--
        Right now I have it so that it has links to these pages
        Ideally the books.html page would take the user to the result of the search that that
        displays the results
        -->

        <!-- still working on this form-->
        <div class="single-item">
          <form class="search-db" action="/search" method="POST">
            <h1>Search our catalog</h1>

            <label for="search_by">Search by: </label>
            <select class="dropdown-toggle" name="search_by" id="search">
              <option value="Books">Title</option>
              <option value="Authors">Author</option>
              <option value="Publishers">Publisher</option>
              <option value="Sections">Section</option>
            </select>
            <input type="text" class="form-control" name="userInput">
            <br/>
            <button type="submit" class="btn btn-dark">Search!</button>
          </form>
          <%if(data.error){%>
            <div class="not-avail"><%=data.error%></div>
          <%}%>
        </div>
        <br/>

        <br/>
        <br/>
        <ul>
          <!-- Displays the results of the books search, right now shows all books -->
          <!--<li><a href="/books.html">All Books</a> - Shows all the books in the library, fake data right now. Would show the data from the Books table.</li>-->

          <!-- shows the books table, allows the addition, removal, and modification of items in the books table-->
          <li><a href="/booksTable.html">Books Table</a> - Allows the addition, removal, and modification of items in the books table</li>

          <!-- displays the section search, right now displays all sections -->
          <!--<li><a href="/Sections.html">All Sections</a> - Shows all the sections in the library and how many books are in them, fake data right now.</li>-->

          <!-- sections table, allows the addition, removal, and modification of items in the sections table -->
          <li><a href="/sectionsTable.html">Sections Table</a> - Shows all the sections in the library and how many books are in them, fake data right now.</li>

          <!-- displays the author search, right now displays all authors -->
          <!--<li><a href="/Authors.html">All Authors</a> - Shows all authors in the library, fake data right now</li>-->

          <!-- displays the authors table -->
          <li><a href="/authorsTable.html">Authors Table</a> - Shows the authors table, allows for the addition, removal, and modification of the authors table.</li>


          <!-- displays the publishers search, right now displays all the publishers -->
          <!--<li><a href="/Publishers.html">All Publishers</a> - Shows all publishers with books in the library, fake data right now</li>-->

          <!-- displays the publishers table -->
          <li><a href="/publishersTable.html">Publishers Table</a> - Allows for the addition, removal, and modification of the publishers table.</li>

          <!-- displays the patron search, right now displauys all the patrons-->
          <!--<li><a href="/Patrons.html">All Patrons</a> - Shows all library patrons, fake data right now</li>-->

          <!-- displays the patrons table-->
          <li><a href="/PatronsTable.html">Patrons Table</a> - Shows the patrons table, allows for the addition, moditification, and deletion of a patron.</li>

          <!-- Adds a new user / sign up -->
          <!--<li><a href="/signup.html">New Patron Sign Up</a> - Shows the form to add a new user to the library patrons table.</li>-->

          <!-- Add CheckedOutBooks table-->
          <li><a href="/CheckedOutBooks.html">CheckedOutBooks table</a> - Shows the table for CheckedOutBooks</li>


          <!-- Add CheckedOutBooks table-->
          <li><a href="/BookAuthors.html">BookAuthors table</a> - Shows the table for BookAuthors</li>

        </ul>
      </div>

<%- include ("../partials/footer") %>
