<%- include ("../partials/header") %>

      <div class="myContainer center element-col">
        <!--
        Right now I have it so that it has links to these pages
        Ideally the books.html page would take the user to the result of the search that that
        displays the results
        -->

        <!-- still working on this form-->
        <div class="single-item">
          <form action="/search" method="POST">
            <h1>Search our catalog</h1>

            <label for="search_by">Search by: </label>
            <select class="dropdown-toggle" name="search_by" id="search">
              <option value="books">Title</option>
              <!--<option value="Keyword">Keyword</option>-->
              <option value="authors">Author</option>
              <option value="publishers">Publisher</option>
              <option value="sections">Section</option>
            </select>
            <input type="text" class="form-control" name="userInput">
            <br/>
            <button type="submit" class="btn btn-dark">Search!</button>
          </form>
          <%if(data.error){%>
            <div class="not-avail"><%=data.error%></div>
          <%}%>
        </div>
        <br/>

        <br/>
        <br/>
        <ul>
          <!-- Displays the results of the books search, right now shows all books -->
          <li><a href="/books.html">All Books</a> - Shows all the books in the library, fake data right now. Would show the data from the Books table.</li>
          <!-- shows the books table, allows the addition, removal, and modification of items in the books table-->
          <li><a href="/booksTable.html">Books Table</a> - Allows the addition, removal, and modification of items in the books table</li>
          <!-- displays the section search, right now displays all sections -->
          <li><a href="/Sections.html">All Sections</a> - Shows all the sections in the library and how many books are in them, fake data right now.</li>
          <!-- sections table, allows the addition, removal, and modification of items in the sections table -->
          <li><a href="/sectionsTable.html">Sections Table</a> - Shows all the sections in the library and how many books are in them, fake data right now.</li>


          <!-- displays the author search, right now displays all authors -->
          <li><a href="/Authors.html">All Authors</a> - Shows all authors in the library, fake data right now</li>
          <!-- displays the publishers search, right now displays all the publishers -->
          <li><a href="/Publishers.html">All Publishers</a> - Shows all publishers with books in the library, fake data right now</li>
          <!-- displays the patron search, right now displauys all the patrons-->
          <li><a href="/Patrons.html">All Patrons</a> - Shows all library patrons, fake data right now</li>
          <!-- Adds a new user / sign up -->
          <li><a href="/signup.html">New Patron Sign Up</a> - Shows the form to add a new user to the library patrons table.</li>
        </ul>
      </div>

<%- include ("../partials/footer") %>
