<%- include ("../partials/header") %>

  <!--
    Page that shows ALL the patrons of the library

    Ideally we would want to search by patron first and last name AND
    display a single patron with all the books they have checked out.
  -->

<div class="myContainer center">
  patrons
</div>

<%- include ("../partials/footer") %>
