<%- include ("../partials/header") %>

<!--
  page that shows all the publishers contained in the library and
  how many books they have published

  Ideally we would allow the user to search based on publisher
-->

<div class="myContainer center">
  publishers
</div>

<%- include ("../partials/footer") %>
